@charset "UTF-8";
@import url('../../GeoExt.ux/css/WfsWizard.css');

/* General */
.x-panel-tbar-noheader .x-toolbar,.x-panel-mc .x-panel-tbar .x-toolbar,.x-panel-bbar .x-toolbar,.x-panel-tbar .x-toolbar
	{
	background-color: #E6E8EA;
	background-image: none;
}

.olControlMousePosition {
	background: rgba(255, 255, 255, 0.5);
	padding-3px;
	font-size: 12px;
}

div.x-window-mc,div.x-window-mc div.x-toolbar {
	background-color: white;
	border-color: #BBBBBB;
	padding: 2px;
}

/*Navegacion*/
.x-slider-vert,.x-slider-vert .x-slider-end,.x-slider-vert .x-slider-inner
	{
	background-image: url(../../../images/SiceCAT/zoombar.png) !important;
}

div.x-slider-vert .x-slider-thumb,div.x-slider-vert .x-slider-thumb-over
	{
	background-image: none;
	border-width: 2px;
	width: 20px;
	border-color: #585858;
	border-style: solid;
	border-radius: 2px;
	height: 6px;
	left: -3px;
	border-color: #585858;
}

div.x-slider-vert .x-slider-thumb-over {
	border-width: 3px;
}

/*Menu lateral */
div.x-panel div.x-panel-bwrap div.x-panel-body div.x-panel div.x-panel-bwrap div.x-panel-body div.x-panel div.x-panel-header
	{
	background-color: transparent;
	background-image: url("../../../images/SiceCAT/fondo_accordion.png");
	background-repeat: repeat-x;
}

html.x-viewport body#ext-gen3.ext-gecko div#ext-comp-1133.x-panel div#ext-gen58.x-panel-bwrap div#ext-gen59.x-panel-body div#ext-comp-1134.x-panel div#ext-gen65.x-panel-bwrap div#ext-gen66.x-panel-body div#ext-comp-1091.x-panel div#ext-gen149.x-panel-header
	{
	background-color: red;
}

div.x-panel-collapsed {
	background-color: #EEEEEE;
}

div.x-tool-toggle {
	border: #666666 1px solid;
	background-color: white;
	border-radius: 4px;
}

div.x-tool-toggle-over {
	border: #9999AA 1px solid;
	background-color: white;
	border-radius: 4px;
}

div.x-panel-body {
	background-color: #E0E2E3;
}

/*Mapa Contextual */
div.olcontroloverviewmapextentrectangle {
	background-image: none;
	border-color: #666666;
	border-width: 2px;
	border-style: solid;
}

div.olcontroloverviewmapelement {
	background-color: #585858;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

div.olControlOverviewMapMaximizeButton,div.olControlOverviewMapMinimizeButton,#OpenLayers_Control_minimizeDiv,#OpenLayers_Control_maximizeDiv
	{
	top: 0px;
	background-color: #585858;
	border-radius: 5px;
	border-color: #585858;
	border-width: 2px;
	border-style: solid;
}

div.olcontroloverviewmapcontainer {
	top: 0px;
	height:100px;
}

/* Buttons */
.x-btn-over .x-btn-tl,.x-btn-over .x-btn-tc,.x-btn-over .x-btn-tr,.x-btn-over .x-btn-ml,.x-btn-over .x-btn-mc,.x-btn-over .x-btn-mr,.x-btn-over .x-btn-bl,.x-btn-over .x-btn-bc,.x-btn-over .x-btn-br
	{
	background-image: url("../../../images/SiceCAT/button_active.png");
}

.x-toolbar .x-btn-tl,.x-toolbar .x-btn-tc,.x-toolbar .x-btn-tr,.x-toolbar .x-btn-ml,.x-toolbar .x-btn-mc,.x-toolbar .x-btn-mr,.x-toolbar .x-btn-bl,.x-toolbar .x-btn-bc,.x-toolbar .x-btn-br
	{
	background-image: none;
}

.x-toolbar .x-btn-tl .x-window-mc {
	background-color: red;
}

.x-toolbar .x-btn-pressed .x-btn-mc,.x-toolbar .x-btn-over .x-btn-mc {
	background-image: none;
	background-color: #95BB60;
	background-repeat: no-repeat;
}

td.x-btn-tl,td.x-btn-tc,td.x-btn-tr,td.x-btn-ml,td.x-btn-mc,td.x-btn-mr,td.x-btn-bl,td.x-btn-bc,td.x-btn-br
	{
	background-image: url("../../../images/SiceCAT/button_pasive.png");
	background-repeat: no-repeat;
}

td.x-btn-tl,td.x-btn-tr,td.x-btn-bl,td.x-btn-br {
	width: 6px;
	height: 6px;
}

td.x-btn-tl {
	background-position: 0px 0px !important;
}

td.x-btn-tc {
	background-position: -9px 0px !important;
	min-width: 22px !important;
}

td.x-btn-tr {
	background-position: -72px 0px !important;
}

td.x-btn-ml {
	background-position: 0px -6px !important;
}

td.x-btn-mc {
	min-width: 18px;
	background-position: -9px -6px !important;
}

td.x-btn-mr {
	background-position: -72px -6px !important;
}

td.x-btn-bl {
	background-position: 0px -23px !important;
}

td.x-btn-bc {
	background-position: -9px -23px !important;
}

td.x-btn-br {
	background-position: -72px -23px !important;
}
/* Cursors */

/*General Cursor*/
.x-tree-node,.x-form-field-wrap .x-form-trigger,.x-form-field-wrap,.x-form-trigger,html,.x-trigger-noedit,div.x-toolbar,.x-toolbar,button.x-btn,button.x-item-disabled,.x-item-disabled *,x-btn-text-icon .x-btn-icon-small-left .x-btn-text,.x-btn-icon .x-btn-small .x-btn-text
	{
	cursor: url("../../../images/SiceCAT/mano.png"), pointer !important;
}
/* Cursors from map */
div.olDragPan,div.olControlZoomBoxActive,div.olControlNavigationActive {
	cursor: url("../../../images/SiceCAT/modo%20mover.png"), pointer !important;
}

div.olControlDrawFeatureActive {
	cursor: url("../../../images/SiceCAT/modo%20edicion.png"), pointer !important;
}

div.olControlSelectFeatureActive {
	cursor: url("../../../images/SiceCAT/mano.png"), pointer !important;
}

div.olControlMeasureActive {
	cursor: url("../../../images/SiceCAT/modo%20medicion.png"), pointer !important;
}

div.olDragDown {
	cursor: url("../../../images/SiceCAT/modo%20arrastrando.png"), pointer !important;
}

/*Buttons from Actions*/
button.x-btn-text.DeleteFeature, .DeleteFeature {
	background: url("../../../images/SiceCAT/dibujo eliminar nodo.png") no-repeat;
}

button.x-btn-text.DrawLine, .DrawLine {
	background: url("../../../images/SiceCAT/dibujo lineas.png") no-repeat;
}

button.x-btn-text.DrawPoint, .DrawPoint {
	background: url("../../../images/SiceCAT/dibujo circulo.png");;
}

button.x-btn-text.DrawPolygon, .DrawPolygon {
	background: url("../../../images/SiceCAT/dibujo poligonos.png") no-repeat;
}

button.x-btn-text.DragFeature, .DragFeature {
	background: url("../../../images/SiceCAT/dibujo mover nodo.png");;
}

button.x-btn-text.EditAttributes, .EditAttributes {
	background: url("../../../images/SiceCAT/edit 16x16.png") no-repeat;
}

button.x-btn-text.EditFeature, .EditFeature {
	background: url("../../../images/SiceCAT/dibujo mover nodo.png") no-repeat;
}

button.x-btn-text.GeoCalculator {
	background: url("../../../images/SiceCAT/geocalculadora.png") no-repeat;
}

button.x-btn-text.GoTo {
	background: url("../../../images/SiceCAT/find.png") no-repeat;
}

button.x-btn-text.InitialExtent {
	background: url("../../../images/SiceCAT/zoom inicio.png") no-repeat;
}

button.x-btn-text.LoadAreaEmergencia {
	background: url("../../../images/SiceCAT/Mapa Layer.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.LoadGML {
	background: url("../../../images/SiceCAT/Mapa GML.png") no-repeat;
	min-width:24px;
}

.ExportToGML{
	background: url("../../../images/SiceCAT/gml_icon.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.LoadKML {
	background: url("../../../images/SiceCAT/Mapa KML.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.LoadCamcat {
	background: url("../../../images/SiceCAT/camcat.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.LoadWMS {
	background: url("../../../images/SiceCAT/Mapa WMS.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.ExportWFS, .ExportWFS{
	background: url("../../../images/SiceCAT/Mapa WFS.png") no-repeat;
	min-width:24px;
}

button.x-btn-text.SearchGeocode {
	background: url("../../../images/SiceCAT/search-geocode.png") no-repeat;
	background-size:15px;
	min-width:24px;
}

button.x-btn-text.SearchWFS {
	background: url("../../../images/SiceCAT/search-wfs.png") no-repeat;
	background-size:15px;
	min-width:24px;
}

button.x-btn-text.MeasureArea, .MeasureArea {
	background: url("../../../images/SiceCAT/measure area.png") no-repeat;
}

button.x-btn-text.MeasureLine, .MeasureLine {
	background: url("../../../images/SiceCAT/measure lines.png") no-repeat;
}

button.x-btn-text.Navigation {
	background: url("../../../images/SiceCAT/navegacion.png") no-repeat;
}

button.x-btn-text.PrintPDF {
	background: url("../../../images/SiceCAT/documento pdf.png") no-repeat;
}

button.x-btn-text.PrintPNG {
	background: url("../../../images/SiceCAT/documento jpg.png") no-repeat;
}

button.x-btn-text.SeleccionPuntoRadio, .SeleccionPuntoRadio {
	background: url("../../../images/SiceCAT/seleccion nodo.png") no-repeat;
}

button.x-btn-text.SelectFeature, .SelectFeature {
	background: url("../../../images/SiceCAT/dibujo seleccionar formas.png") no-repeat;
}

button.x-btn-text.SelectFeatureBox, .SelectFeatureBox {
	background: url("../../../images/SiceCAT/dibujo seleccionar formas box.png") no-repeat;
}

button.x-btn-text.ZoomNext {
	background: url("../../../images/SiceCAT/zoom siguiente.png") no-repeat;
}

button.x-btn-text.ZoomToMaxExtent {
	background: url("../../../images/SiceCAT/zoom extendt.png") no-repeat;
}

button.x-btn-text.ZoomToSelection {
	background: url("../../../images/SiceCAT/zoom capas.png") no-repeat;
}

button.x-btn-text.ZoomToLayer, .ZoomToLayer {
	background: url("../../../images/SiceCAT/zoom to layer.png") no-repeat;
}

button.x-btn-text.ZoomToMunicipio {
	background: url("../../../images/SiceCAT/zoom comarca-municipio.png") no-repeat;
}

button.x-btn-text.ZoomPrevious {
	background: url("../../../images/SiceCAT/zoom anterior.png") no-repeat;
}

/*Header and Footer*/
.x-panel-body {
	background: transparent;
}

.sicecat_header {
	font-family: sans-serif;
}

#sicecat_header-xcollapsed,div.x-panel-header {
	background-color: #E0E2E3;
	background-image: none;
}

#sicecat_header-xcollapsed,div.x-panel-header,x-panel x-border-panel,.x-panel-body
	{
	border-color: #95A0A7 !important;
}

.sicecat_upper_header {
	padding: 15px;
	background: white;
}

.sicecat_bottom_header {
	background-color: #666666;
	padding: 5px;
	height: 27px;
}

.sicecat_footer_left,.copyright_footer,#sicecat_header-xcollapsed {
	background-color: #666666;
	padding: 0px;
	color: white;
	font-size: 60%;
	font-weight: lighter;
	width: 50%;
	display: inline-block;
}

.sicecatStatusBar{
	background-color: white;
	padding: 0px;
	color: #666666;
	font-size: 60%;
	font-weight: lighter;
	display: inline-block;
	text-align:center;
	width: 100%;
}

.copyright_footer {
	text-align: right;
}

.sicecat_upper_header_big {
	color: #FFA046;
	font-size: 150%;
	padding: 10px;
}

.sicecat_small {
	color: #737373;
	font-size: 80%;
	font-weight: lighter;
	padding: 5px;
	position: absolute;
	right: 400px;
	top: 15px;
	font-weight: lighter;
}

.sicecat_login_box,a.sicecat_login_box_usuari,a.sicecat_login_box_centre
	{
	font-size: 80%;
	color: #FFA046;
	padding: 5px;
	position: absolute;
	right: 90px;
	top: 15px;
}

a {
	color: #FFA046 !important;
	text-decoration: none;
	font-size: 95%;
}

.sicecat_bottom_header_exit,.sicecat_bottom_header_up,.sicecat_login_box_usuari,.sicecat_login_box_centre,.sicecat_upper_header_icon,.sicecat_login_box,.sicecat_upper_header_small,.sicecat_upper_header_big
	{
	display: inline;
}

.sicecat_upper_header_icon {
	background-repeat: no-repeat;
	background-image: url("../../../images/SiceCAT/logo.png");
	padding: 30px;
	position: absolute;
	right: 10px;
	top: 3px;
}

.sicecat_bottom_header_up {
	background-repeat: no-repeat;
	background-image: url("../../../images/SiceCAT/arrow_up.png");
	padding: 6px;
	position: absolute;
	right: 25px;
	top: 65px;
	background-color: #B5B5B5;
	height: 6px;
}

.sicecat_bottom_header_down {
	background-repeat: no-repeat;
	background-image: url("../../../images/SiceCAT/arrow_list.png");
	padding: 7px;
	position: absolute;
	right: 25px;
	top: 2px;
}

.sicecat_bottom_header_exit {
	color: white;
	font-weight: bolder;
	position: absolute;
	right: 60px;
	position: absolute;
	background-image: url("../../../images/SiceCAT/exit.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	font-size: 80%;
}

/* ColorPicker */
.x-form-field-wrap .x-form-color-trigger {
	background: transparent url(../../../images/SiceCAT/color-trigger.gif) no-repeat 0 0
		!important;
	cursor: pointer !important;
}

/* Downloadify */
p.downloadify{
	padding-top: 4px;
	text-align: right;
}

/* Delete Layer */
button.x-btn-text.DeleteLayer, .DeleteLayer{
	background: url("../../../images/SiceCAT/delete.png") no-repeat;
}

/* GetFeatureInfo */
button.x-btn-text.GetFeatureInfo, .LayerInformation{
	background: url("../../../images/SiceCAT/info.png") no-repeat;
}
div.SiceCATControlGetFeatureInfoActive {
	cursor: url("../../../images/SiceCAT/puntero_info.png"), pointer !important;
}

/* LocateBox */
button.x-btn-text.LocateBox{
	background: url("../../../images/SiceCAT/dibujo rectangulo.png") no-repeat;
}

/* ToolTipControl */
button.x-btn-text.ToolTipControl{
	background: url("../../../images/SiceCAT/tooltip.png") no-repeat;
}

.div_tooltip table {
	font-family: arial, tahoma, helvetica, sans-serif;
	font-style: normal;
	font-size: 95%;
	line-height: 18px;
}

/* SigescatCercaSolrGeneralSearcherCombo */
span.SigescatCercaSolrGeneralSearcherCombo_pap:before{
content:"Centres de l'administració pública";
}
span.SigescatCercaSolrGeneralSearcherCombo_pap:before{
content:"Centres de l'administració pública";
}
span.SigescatCercaSolrGeneralSearcherCombo_pas:before{
content:"Centres d'assistència social";
}
span.SigescatCercaSolrGeneralSearcherCombo_pb:before{
content:"Centres de negoci";
}
span.SigescatCercaSolrGeneralSearcherCombo_pe:before{
content:"Centres educatius";
}
span.SigescatCercaSolrGeneralSearcherCombo_pl:before{
content:"Centres de lleure";
}
span.SigescatCercaSolrGeneralSearcherCombo_pm:before{
content:"Centres de transport i mobilitat";
}
span.SigescatCercaSolrGeneralSearcherCombo_psa:before{
content:"Centres de salut";
}
span.SigescatCercaSolrGeneralSearcherCombo_pse:before{
content:"Centres de seguretat";
}
span.SigescatCercaSolrGeneralSearcherCombo_t:before{
content:"Toponímia (nomenclàtor)";
}
span.SigescatCercaSolrGeneralSearcherCombo_ra:before{
content:"Anotacions poligonals";
}
span.SigescatCercaSolrGeneralSearcherCombo_rl:before{
content:"Anotacions lineals";
}
span.SigescatCercaSolrGeneralSearcherCombo_rp:before{
content:"Anotacions puntuals";
}
span.SigescatCercaSolrGeneralSearcherCombo_a:before{
content:"AVAS (Base dels avions de vigilància i atac).";
}
span.SigescatCercaSolrGeneralSearcherCombo_ab:before{
content:"Àrees Bàsiques policials.";
}
span.SigescatCercaSolrGeneralSearcherCombo_ae:before{
content:"Activitats extractives.";
}
span.SigescatCercaSolrGeneralSearcherCombo_ap:before{
content:"Inuncat: Punts d'actuació prioritària.";
}
span.SigescatCercaSolrGeneralSearcherCombo_aps:before{
content:"Punts d'actuació prioritària";
}
span.SigescatCercaSolrGeneralSearcherCombo_b:before{
content:"Guaites.";
}
span.SigescatCercaSolrGeneralSearcherCombo_c:before{
content:"Heliports.";
}
span.SigescatCercaSolrGeneralSearcherCombo_c112:before{
content:"Centres del servei 112.";
}
span.SigescatCercaSolrGeneralSearcherCombo_ca:before{
content:"Xarxa de camins";
}
span.SigescatCercaSolrGeneralSearcherCombo_cd:before{
content:"Inuncat: Cons de dejecció";
}
span.SigescatCercaSolrGeneralSearcherCombo_co:before{
content:"Alçada edificis";
}
span.SigescatCercaSolrGeneralSearcherCombo_d:before{
content:"Hidrants";
}
span.SigescatCercaSolrGeneralSearcherCombo_db:before{
content:"Districtes de Barcelona.";
}
span.SigescatCercaSolrGeneralSearcherCombo_e:before{
content:"Punts d'aigua.";
}
span.SigescatCercaSolrGeneralSearcherCombo_ef:before{
content:"Estacions de ferrocarril.";
}
span.SigescatCercaSolrGeneralSearcherCombo_ei:before{
content:"Establiments industrials (SIPAE)";
}
span.SigescatCercaSolrGeneralSearcherCombo_en:before{
content:"Espais Naturals de Protecció Especial.";
}
span.SigescatCercaSolrGeneralSearcherCombo_f:before{
content:"Parcs de bombers";
}
span.SigescatCercaSolrGeneralSearcherCombo_fo:before{
content:"Àrees forestals públiques";
}
span.SigescatCercaSolrGeneralSearcherCombo_g:before{
content:"Xarxa RESCAT (Torres de comunicació)";
}
span.SigescatCercaSolrGeneralSearcherCombo_h:before{
content:"Capitals de municipi";
}
span.SigescatCercaSolrGeneralSearcherCombo_i:before{
content:"Límits municipals";
}
span.SigescatCercaSolrGeneralSearcherCombo_ir:before{
content:"Zones inundables presa Rialb";
}
span.SigescatCercaSolrGeneralSearcherCombo_k:before{
content:"Límits comarcals.";
}
span.SigescatCercaSolrGeneralSearcherCombo_lf:before{
content:"Línies de ferrocarril.";
}
span.SigescatCercaSolrGeneralSearcherCombo_np:before{
content:"Nuclis de població";
}
span.SigescatCercaSolrGeneralSearcherCombo_nv:before{
content:"Nodes del graf";
}
span.SigescatCercaSolrGeneralSearcherCombo_p:before{
content:"Límits provincials";
}
span.SigescatCercaSolrGeneralSearcherCombo_pi:before{
content:"Inuncat_Zones potencialment inundables.";
}
span.SigescatCercaSolrGeneralSearcherCombo_plo:before{
content:"Municipis amb Policia Local.";
}
span.SigescatCercaSolrGeneralSearcherCombo_pn:before{
content:"Risc incendi forestal. Perill.";
}
span.SigescatCercaSolrGeneralSearcherCombo_po:before{
content:"Última posició dels efectius RESCAT";
}
span.SigescatCercaSolrGeneralSearcherCombo_rpo:before{
content:"Mapa de les Regions Policials.";
}
span.SigescatCercaSolrGeneralSearcherCombo_s1:before{
content:"Malla SOC 1km";
}
span.SigescatCercaSolrGeneralSearcherCombo_s5:before{
content:"Malla SOC de 5 km";
}
span.SigescatCercaSolrGeneralSearcherCombo_sc:before{
content:"Inuncat: Sirenes preses cobertura.";
}
span.SigescatCercaSolrGeneralSearcherCombo_soc:before{
content:"Malla SOC 1 km";
}
span.SigescatCercaSolrGeneralSearcherCombo_sp:before{
content:"Situació de la sirena de les preses.";
}
span.SigescatCercaSolrGeneralSearcherCombo_sv:before{
content:"Segments del graf";
}
span.SigescatCercaSolrGeneralSearcherCombo_svm:before{
content:"Segments del graf";
}
span.SigescatCercaSolrGeneralSearcherCombo_tf:before{
content:"Túnels de ferrocarril";
}
span.SigescatCercaSolrGeneralSearcherCombo_tt:before{
content:"Inuncat: Temps de trànsit";
}
span.SigescatCercaSolrGeneralSearcherCombo_vu:before{
content:"Infocat: Mapa de vulnerabilitat d'incendis";
}
span.SigescatCercaSolrGeneralSearcherCombo_x:before{
content:"Eixos carretera (DGC)";
}
span.SigescatCercaSolrGeneralSearcherCombo_y:before{
content:"Punts quilomètrics (DGC)";
}
span.SigescatCercaSolrGeneralSearcherCombo_z:before{
content:"Tallafocs";
}
span.SigescatCercaSolrGeneralSearcherCombo_z1:before{
content:"Inuncat. Zones inundables T50";
}
span.SigescatCercaSolrGeneralSearcherCombo_z3:before{
content:"Zones inundables T500.";
}
span.SigescatCercaSolrGeneralSearcherCombo_zt:before{
content:"Inuncat: Zones inundables T100"";
}

/** LayerTree **/
input.gx-tree-radio{
	display: none;
}
.gx-tree-layer-icon_WMS_SIGESCAT{
	background-image: url("../../../images/SiceCAT/server_raster.png") !important;
}
.gx-tree-layer-icon_WMS{
	background-image: url("../../../images/SiceCAT/server_map.png") !important;
}
.gx-tree-layer-icon_Vector{
	background-image: url("../../../images/SiceCAT/vector.png") !important;
}
.gx-tree-layer-icon_editables{
	background-image: url("../../../images/SiceCAT/server_vector.png") !important;
}
button.x-btn-text.SaveWFS, .SaveWFS{
	background: url("../../../images/SiceCAT/accept.png") no-repeat;
}
button.x-btn-text.EditWFS, .EditWFS{
	background: url("../../../images/SiceCAT/control_play_blue.png") no-repeat;
}
button.x-btn-text.StyleEdit, .StyleEdit{
	background: url("../../../images/SiceCAT/color trazado.png") no-repeat;
}
button.x-btn-text.RenameLayer, .RenameLayer{
	background: url("../../../images/SiceCAT/textfield_rename.png") no-repeat;
}
button.x-btn-text.Slider, .Slider{
	background: url("../../../images/SiceCAT/slider-control.png") no-repeat;
}
button.x-btn-text.loadCamcat, .LoadCamcat{
	background: url("../../../images/SiceCAT/camcat.png") no-repeat;
	min-width: 24px;
}
button.x-btn-text.LoadGML, .LoadGML{
	background: url("../../../images/SiceCAT/Mapa GML.png") no-repeat;
	min-width: 24px;
}
button.x-btn-text.LoadKML, .LoadKML{
	background: url("../../../images/SiceCAT/Mapa KML.png") no-repeat;
	min-width: 24px;
}
button.x-btn-text.LoadWMS, .LoadWMS {
	background: url("../../../images/SiceCAT/Mapa WMS.png") no-repeat;
	min-width:24px;
}
button.x-btn-text.LoadWFS, .LoadWFS{
	background: url("../../../images/SiceCAT/Load WFS.png") no-repeat;
	min-width: 24px;
}
button.addButton, .addButton{
	background: url("../../../images/SiceCAT/add.png") no-repeat;
}
button.x-btn-text.LoadUserContext, .LoadUserContext{
	background: url("../../../images/SiceCAT/user.png") no-repeat;
	min-width: 24px;
}
button.x-btn-text.InitialConf, .InitialConf{
	background: url("../../../images/SiceCAT/wrench.png") no-repeat;
	min-width: 24px;
}
button.x-btn-text.CreateFolder, .CreateFolder{
	background: url("../../../images/ext/resources/images/sicecat/tree/folder.gif") no-repeat;
	min-width: 24px;
}